
.container {
  display: flex;
  background-color: var(--background);
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .container {
    padding: 24px 16px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 16px;
  }
}
.logoIcon {
  width: 42px;
  height: 17px;
}

.logoText {
  display: none;
}

@media (min-width: 1440px) {
  .logoText {
    display: block;
    font-weight: 700;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.02em;
  }
}

@media (min-width: 768px) {
  .navigationDesktop {
    display: flex;
    gap: 32px;
    
  }
  .active {
font-weight: 500;
font-size: 16px;
line-height: 113%;
letter-spacing: -0.02em;
color: var(--foreground);
position: relative;
text-decoration: none;
  }
  .active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #4f92f7; 
  border-radius: 4px;
}
  .navItem {
    color: var(--text-gray);
    position: relative;
  text-decoration: none;
  }
  .userBar {
  display: flex;
  align-items: center;
  gap: 16px;
}}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
height: 40px;
border-radius: 100%;
background: var(--input-background);
border: 1px solid rgba(249, 249, 249, 0.2);

}
.burger {
  border: none;
  background: inherit;
}

@media (min-width: 768px) {
  .burger {
 display: none;
}
}

.burgerIcon {
  width: 28px;
  height: 28px;
  stroke-width: 2px;
}
