.container {
  display: flex;
  background-color: var(--background);
  width: 100%;
  border-radius: 15px;
  padding: 20px;
  align-items: center;
}
@media (min-width: 1440px) {
  .container {
    padding: 16px;
  }
}
.logoIcon {
  width: 42px;
  height: 17px;
}

.logoText {
  display: none;
}

@media (min-width: 768px) {
  .logoText {
    display: inline;
    font-weight: 700;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.02em;
  }
}
