:root {
  --background: #1f1f1f;
  --foreground: #f9f9f9;
  --input-background: #262626;
  --text-gray: #686868;
  --red: #e90516;
  --abook: rgba(227, 227, 227, 0.5);
  --font-family: "Gilroy", sans-serif;
  --second-family: "SF Pro Text", sans-serif;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  --font-family: "Gilroy", sans-serif;
  --second-family: "SF Pro Text", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, p {
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: var(--foreground);
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: 0 0 0px 1000px var(--input-background) inset;
}
h2 {
  font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: -0.02em;
}

h3 {
  font-weight: 700;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
}

p {
  font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.02em;
}