:root {
  --background: #1f1f1f;
  --foreground: #f9f9f9;
  --input-background: #262626;
  --text-gray: #686868;
  --abook: rgba(227, 227, 227, 0.5);
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  --font-family: "Gilroy", sans-serif;
  --second-family: "SF Pro Text", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, p {
  margin: 0;
}
