
.app {
  background: black;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
}

/* tablet */
@media (min-width: 768px) {
  .app {
    padding: 32px;
  }
} 