.list {
   display: flex;
   margin: 0 auto;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 160px;
    cursor: pointer;
    
}
.card h3 {
    white-space: nowrap;      
  overflow: hidden;        
  text-overflow: ellipsis;  
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttons {
    display: flex;
    gap: 8px;
}
.scrollBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    min-width: 32px;
    border-radius: 100%;
    background-color: var(--background);
    border: 1px solid var(--text-gray);
}
.scrollBtn:disabled {
    cursor: not-allowed;
}
.icon {
    height: 16px;
    width: 16px;
}
.scrollBtn:disabled .icon {
  fill: var(--text-gray);
}

.bookImj {
    width: 100%;
    height: 208px;
    object-fit: cover;
    border-radius: 8px;
}
.textCard {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.author {
    font-weight: 500;
font-size: 10px;
line-height: 120%;
text-decoration: underline;
color: var(--text-gray);
}
.prewiewContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    border-radius: 12px;
    background-color: var(--input-background);
}
.previeList {
    display: flex;
    gap: 20px;
    margin: 0 auto;
}
.bottom {
  display: flex;
  justify-content: space-between;
}
.gray {
  color: var(--text-gray);
}
.link {
  color: var(--text-gray);
}
.arrowIcon {
  width: 24px;
  height: 24px;
}