@media (min-width: 1440px) {
  .container {
    padding: 20px;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (min-width: 768px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1440px) {
  .list {
    grid-template-columns: repeat(5, 1fr);
  }
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: 100%;
  cursor: pointer;
}
.card h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}


.buttons {
  display: flex;
  gap: 8px;
}
.scrollBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  min-width: 32px;
  border-radius: 100%;
  background-color: var(--background);
  border: 1px solid var(--text-gray);
}
.scrollBtn:disabled {
  cursor: not-allowed;
}
.icon {
  height: 16px;
  width: 16px;
}
.scrollBtn:disabled .icon {
  fill: var(--text-gray);
}

.bookImj {
  width: 137px;
  height: 208px;
  border-radius: 8px;
  margin: 0 auto;
}
.textCard {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 137px;
  margin: 0 auto;
}
.author {
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  text-decoration: underline;
  color: var(--text-gray);
}
.prewiewContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  gap: 15px;
  border-radius: 12px;
  background-color: var(--input-background);
}
.previeList {
  display: flex;
  gap: 25px;
  margin: 0 auto;
}
.bottom {
  display: flex;
  justify-content: space-between;
}
.gray {
  color: var(--text-gray);
}
.link {
  color: var(--text-gray);
}
.arrowIcon {
  width: 24px;
  height: 24px;
}
