.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media (min-width: 1440px) {
    .container {
        flex-direction: row;    
        gap: 16px;
    }
}
.form {
    min-height: 411px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .form {
        padding: 20px 44px;
        height: 960px;
}
}
@media (min-width: 1440px) {
    .form {
        min-height: 736px;
}
}
.logo {
    margin-bottom: 40px;
}
.logoIcon {
  width: 42px;
  height: 17px;
}

.logoText {
  display: none;
  
}
@media (min-width: 768px) {
    .logo {
    margin-bottom: 150px;
}
    .logoText {
  display: inline;
}
}
.title {
    margin-bottom: 20px;
}
.abook {
    color: var(--abook);
}
.inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.field {
  display: flex;
  flex-direction: column;

}

.field p {
  font-size: 12px;
  color: var(--red);

}
.actions {
    display: flex;
    gap: 14px;
    align-items: center;
    margin-top: auto;
}
@media (min-width: 768px) {
    .actions {
        margin-bottom: 214px;
    }
}
.link {
    color: var(--text-gray);
}
.link:hover,
.link:focus {
    color: var(--foreground);
}
.imageCard {
    display: flex;
    justify-content: center;
    background-color: var(--background);
    border-radius: 30px;
    width: 100%;
    padding: 20px;
}
@media (min-width: 768px) {
    .imageCard {display: none;}
}

@media (min-width: 1440px) {
    .imageCard {
        display: block;
    }
    .formWrapper,
  .imageCard {
    flex: 1;
    height: 736px;
  }
    .img {
        width: 405px;
    }
}