.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.image {
  width: 100%;
  aspect-ratio: 137 / 208;
  object-fit: cover;
  border-radius: 12px;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.author {
  color: var(--text-gray);
}