.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: var(--background);
    border-radius: 30px;
    width: 100%;
    padding: 20px;
}
@media (min-width: 768px) {
    .container {
    padding: 32px;
    gap: 32px;
    flex-direction: row;

}
}

@media (min-width: 1440px) {
    .container {
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    

}
}