.button {
  padding: 10px 20px;
  background: var(--background);
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.02em;
  color: var(--foreground);
}

@media (min-width: 768px) {
  .button {
    padding: 14px 28px;
    font-size: 16px;
    line-height: 113%;
  }
}
