.wrapper {
  display: flex;
  align-items: center;
  background-color: var(--input-background);
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 14px;
  transition: border 0.2s ease;
}

.wrapper:hover,
.wrapper:focus-within {
  border: 1px solid rgba(249, 249, 249, 0.1);
}
.error {
  border: 1px solid var(--red);
}
.error:hover,
.error:focus-within {
  border: 1px solid var(--red);
}
.label {
  color: var(--text-gray);
  margin-right: 8px;
  white-space: nowrap;
  font-family: var(--font-family);
font-weight: 500;
font-size: 12px;
line-height: 133%;
}

.input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: var(--foreground);
}

::placeholder {
  font-weight: 500;
font-size: 12px;
line-height: 133%;
color: var(--foreground);
}
.icon {}
