.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: var(--background);
  border-radius: 8px;
  position: relative;
   display: flex;
  align-items: center;    
  justify-content: center; 
  min-height: 439px;
  width: 100%;
  max-width: 335px;  
  overflow-y: auto;
}

.closeBtn {
    position: absolute;
    top: 16px;
    right: 16px;
  background: none;
  border: none;
  width: 32px;
  height: 32px;
}
.closeBtnIcon {
    width: 24px;
    height: 24px;
}