.card {
  display: flex;
  flex-direction: column;
}
.image {
 width: 100%;
  aspect-ratio: 137 / 208; 

  border-radius: 8px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info {
  width: 100px;
}
.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.author {
  color: var(--text-gray);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.deleteBtn {
  background: transparent;
  border: none;
  width: 28px;
  height: 28px;
}
.img {
}
